.chat-application .app-content,
.chat-application .content-right,
.chat-application .content-wrapper,
.chat-application .content-body
{
	position: relative;
	height: calc(100vh - 92px);
	
}

.chat-application .content-wrapper
{
    padding: 0 !important;
}

.chat-application .sidebar-left
{
    z-index: 999; 

    border-left: 1px solid #e4e7ed;
}

.chat-application .chat-fixed-search
{
    position: fixed;
    z-index: 999;

    width: 300px;

    border-bottom: 1px solid #e4e7ed; 
    background: #fff;
}

.chat-application .users-list-padding
{
    padding-top: 83px;
    padding-bottom: 60px;
}

.chat-application .chat-app-window
{
    overflow-y: scroll;

    height: -webkit-calc(100vh - 152px);
    height:    -moz-calc(100vh - 152px);
    height:         calc(100vh - 152px);
	padding: 30px 30px;

    text-align: center;

    position: relative;
}

.chat-application .chat-app-form
{ 
	position: absolute;
    width: 100%;
    bottom: 0px;

    overflow: hidden; 

    padding: 10px 10px;

    background-color: #edeef0;
}

.chat-application .chats
{
    padding: 0;
}
.chat-application .chats .chat-body
{
    display: block;
    overflow: hidden; 

    margin: 10px 0 0 30px;
}
.chat-application .chats .chat-body .chat-content
{
    position: relative;

    display: block;
    float: left;
    clear: both;

    margin: 0 0 10px 20px;
    padding: 8px 15px;

    text-align: left;

    color: #fff;
    border-radius: 4px; 
    background-color: #348F56;
}
.chat-application .chats .chat-body .chat-content:before
{
    position: absolute;
    top: 10px;
    left: -10px;

    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    border-right-color: #348F56;
}
.chat-application .chats .chat-body .chat-content + .chat-content:before
{
    border-color: transparent;
}
.chat-application .chats .chat-body .chat-content p
{
    margin: 0;
}
.chat-application .chats .chat-avatar
{
    float: left;
}
.chat-application .chats .chat-avatar .avatar
{
    width: 50px;
    margin-top: -10px;
}
.chat-application .chats .time
{
    font-size: 12px;

    margin: 25px 0;

    text-align: center;

    color: #babfc7;
}
.chat-application .chats .chat-left .chat-avatar
{
    float: right;
}
.chat-application .chats .chat-left .chat-body
{
    margin-left: 0;
}
.chat-application .chats .chat-left .chat-content
{
    float: right;

    margin: 0 20px 10px 0;

    text-align: right;

    color: #6b6f82;
    background-color: #edeef0;
}
.chat-application .chats .chat-left .chat-content + .chat-content:before
{
    border-color: transparent;
}
.chat-application .chats .chat-left .chat-content:before
{
    right: -10px;
    left: auto;

    border-right-color: transparent; 
    border-left-color: #edeef0;
}

.chat-application .form-control-position
{
    cursor: pointer;
}
.chat-application .form-control-position.control-position-right
{
    top: 2px;
    left: 18px;

    cursor: pointer;
}
.content-right{
	background-color: #fff;
		 margin-top: 22px;
}
.arrow-space{
	background-color:#348F56;
	color:white;
	font-size: 18px;
	padding-right: 5px;
	
}
.bg-gray{
	background-color: #EDEEF0!important;
}

textarea{
	resize: none;
}
textarea.form-control {
    height: 40px;
	max-height: 60px;
}
.has-icon-left {
	flex:1 auto;
}
.content.all{
	background-color: #fff;
}
.chat-icon{
	
    font-size: 25px;
	color:#348F56;
	padding: 1px 6px;

}
.bg-gray{
	background-color: #EDEEF0!important;
}

.media.border-0 .media-body,.border-right-info .media-body{
	flex: 1 auto;
    width: 1%;
}
.media-body .list-group-item-heading{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	margin: 0px;
}
.text-muted{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 767.98px)
{
    .chat-application .chat-app-window
    {
        height: -webkit-calc(100vh - 132px);
        height:    -moz-calc(100vh - 132px);
        height:         calc(100vh - 132px);
    }
.chat-application .content-right
{
	z-index: 2;

				}
		.sidebar-left{
		width:100%;
	}
	.chat-application .chat-fixed-search{
		width: 100%;
	}
	.chat-application .chat-app-form{
		bottom:17px;
	}

}

@media(max-width:576px) {

	.chat-app-form{
		bottom: 20px;
	}
	.chat-application .sidebar-left {
    margin-top: 12px;
}
		.content-right{
		 margin-top: auto;
	}
		.chat-application .chat-app-form{
		bottom:0px;
	}

}


.horizontal-layout.chat-application .app-content
{
    height: -webkit-calc(100% - 144px) !important;
    height:    -moz-calc(100% - 144px) !important;
    height:         calc(100% - 144px) !important;
    min-height: -webkit-calc(100% - 144px) !important;
    min-height:    -moz-calc(100% - 144px) !important;
    min-height:         calc(100% - 144px) !important;
    margin-top: 0 !important;
}
.horizontal-layout.chat-application .app-content .chat-app-window
{
    height: -webkit-calc(100% - 83px) !important;
}
