@charset "utf-8";
/* CSS Document */
/*fonts*/
@import "./fonts/fontawesome/css/all.css";

.fc-toolbar.fc-header-toolbar{
	background-color: #7caa83;
	padding:10px;
	margin-bottom: 0px;
	
}
.fc-row  thead tr th{
	border:0;
	
}
.fc-head .fc-row:first-child thead tr{
	background-color:#dce8dc;
	color:#359565;
}

.location-desc{
	font-size:10px;
}
.appointment-box{
	box-shadow: 0 1px 5px 1px rgba(62, 57, 107, 0.27) ;
	border:1px solid #cce4cf;
	border-radius: .25rem;
    margin-bottom: 20px;
}
.appointment-box:hover{
	border:1px solid #7caa83;
	border-radius: .25rem;
}
.event-date{
	width:80px;
	background-color:#7caa83!important;
}
.event-date .fold {
	height: 100%;
	position: relative!important;
	vertical-align: middle;
    padding-top: 25px;
	padding-bottom: 25px;
}
.appointment-summery-header{
	padding:10px 10px;
	background-color: white;
	flex: 1 1 auto;
    width: 1%;
}

.fc .fc-day-number{
    font-size: 16px;
	padding-left:1em;
	color:#333333;
}
.fc-event{
	background-color: #5c9f76;
	border:0;
}
.fc-event span{
	font-size: 10px;
}
.event{
	color:#5d9e74;
}
.fc-button {
    border-radius: 2px !important;
	color: #5C9F76!important;
    background-color: #fff!important;
	padding:5px!important;
}
.fc-button:hover{
	background-color:#f0f5ef!important;
}
.fc-right .fc-button{
	margin-left: 5px;
	border-radius: .25rem!important;
}
.fc-left .fc-button{
	border-radius: .25rem!important;
} 
.fc-button:hover{
	color:#c2cdcf;
}
.fc-state-default{
	box-shadow: none!important;
}
.fc-state-active:focus,.fc-state-active:disabled{
	background-color:#c2cdcf!important;

}
.fc-unthemed td.fc-today{
	background-color:#eef3ed;
}
.fc-row thead tr th span{
	font-size:12px;

}
.fc-row thead tr th{
	margin-left:2px!important;
}
.details{
	font-size:14px;
}
.details a{
	display: block;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	color:#333333 !important;
}
.details a:hover{
	color:#348F56!important;
}
.time{
	font-size:12px;
	color:#787878;
	margin-top: 8px;
}


.third-details{
	margin-top: 8px;
}
.third-details .time2{
	display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	font-size: 12px;
    color: #787878;
	max-width: 20%;
}
.time2 i{
	color: #c3cdcf;
}
.hall-user{
	flex: 1 1 auto;
    width: 1%;
}
.hall2{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.number{
	 white-space: nowrap;
	max-width: 10%;
}
.number i{
	color: #c3cdcf;
    padding-left: 2px;
}


.time i{
	color:#c3cdcf;
	padding-left:2px;
}
.hall{
	font-size:12px;
	color:#333333;
	margin-top: 5px;
}
.hall div{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hall i,.hall2 i{
	color:#c3cdcf;
	padding-left: 2px;
}
.hall2{
	font-size:12px;
	color:#333333;
}
.hall2 div{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;	
}
.details2{
	display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #333333 !important;
}

.icons{
	background-color:#EEF3ED;
	padding:1px 10px;
}
.icons a{
	color:#7CAA83;
	padding-right: 10px;
	font-size:14px;
	cursor: pointer;
}
.icons a:hover{
	color:#496b4e;
}

.icons2{
	background-color:#EEF3ED;
	padding:1px 10px;
}
.acceptable  i,.decline i{
	margin-left: 5px;
}


.more{
	padding:1px 10px;
	background-color:#00844b;
	cursor: pointer;
}
.custom-sub-nav-tabs li a {
    padding: 0px 5px !important;
}

.icons .acceptable{
	color:#02834a!important;
	cursor: pointer;
	padding-right: 10px;
}

.icons .acceptable:hover{
	color:#05ab5f !important;
}
.icons .decline{
	color:#c12b2a !important;
	cursor: pointer;
	padding-right: 10px;
}
.icons .decline:hover{
	color:#f93934 !important;
}


.appointment-text i{
	color:#c2cdcf;
	padding-left:5px;
}
.appointment-text:hover{
	color:#348F56!important;
	
}
.nav-tabs{
	border-bottom: 0;
}
.custom-sub-nav-tabs.nav-tabs>li>a.active{
	color: #262B56;
    border: 0px;
    background-color: transparent;
    border-bottom: 3px solid #7cac84;
	}
.custom-sub-nav-tabs.nav-tabs>li a{
	color: #262B56;	
	border-bottom: 3px solid transparent;
}

.more:hover{
	border-color: #2a2a2a !important;
    background-color: #f4f8f9 !important;
	color:#2a2a2a!important;
}
.second-details{
	padding-top:5px;

}
.name{
	font-size:12px;
	display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	color: #7CAA83;
    font-weight: 600;
}
.custom-sub-nav-tabs.nav-tabs li{
	padding:0px 10px;
}
.card-all{
	background: #fff;
    box-shadow: 0 1px 5px 1px rgba(62, 57, 107, 0.27) !important;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #6b6f82;
    margin-bottom: 20px;
}
.card-commite{
	padding: 10px 15px;
}
.number i,.hall2 i,.time2 i{
	margin-left: 5px;
}
@media(max-width:768px) {
	.fc-left .fc-button,.fc-right .fc-button{
		padding:4px;
		font-size:12px;
	}
		.hall-user{
			width: auto;
		}

	.number{
		max-width: 100%;
		
	}
	.third-details .time2{
		max-width: 100%;
	}

	}
	@media(max-width:576px) {
	.fc-left .fc-button,.fc-right .fc-button{
		padding:2px!important;
		font-size:10px;
	}
		.fc-center h2{
			font-size:13px !important;
		}
		.number{
			max-width: 100%;
		}
		.third-details .time2{
			max-width: 100%;
	}
		.hall-user{
			width: auto;
		}

				}



@media (max-width: 992px) {
	.fc-center h2{
	font-size:16px;
	}
}

